<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrer bruger</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div class="container">
    <header class="header">
        <h1>Registrer bruger</h1>
    </header>

    <div th:if="${success}" class="success-message">
        <p th:text="${success}"></p>
    </div>

    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>


    <form th:action="@{/createUser}" th:method="post" th:object="${userForm}">

        <label for="userName">Navn:</label>
        <input type="text" id="userName" th:field="*{userName}" required>

        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required>

        <label for="userEmail">Email:</label>
        <input type="text" id="userEmail" th:field="*{userEmail}" required>

        <label for="userRank">Kompetencer:</label>
        <select id="userRank" th:field="*{userRank}" required>
            <option value="admin" th:selected="${userForm.userRank == 'admin'}">Admin</option>
            <option value="projectManager" th:selected="${userForm.userRank == 'projectManager'}">Projektmanager</option>
            <option value="frontend" th:selected="${userForm.userRank == 'frontend'}">FrontEnd</option>
            <option value="backend" th:selected="${userForm.userRank == 'backend'}">BackEnd</option>
        </select>

        <button type="submit">Registrer</button>
    </form>
</div>
<footer class="footer">
    <a href="/login" class="btn">tilbage til hjem</a>
</footer>
</body>
</html>
