<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div class="container">
    <header class="header">
        <h1>Regiser user</h1>
    </header>

    <div th:if="${success}" class="success-message">
        <p th:text="${success}"></p>
    </div>

    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>


    <form th:action="@{/createUser}" th:method="post" th:object="${userForm}">

        <label for="userName">User Name:</label>
        <input type="text" id="userName" th:field="*{userName}" required>

        <label for="password">User Password:</label>
        <input type="password" id="password" th:field="*{password}" required>

        <label for="userEmail">User Email:</label>
        <input type="text" id="userEmail" th:field="*{userEmail}" required>

        <label for="userRank">Admin?:</label>
        <select id="userRank" th:field="*{userRank}" required>
            <option value="generic" th:selected="${userForm.userRank == 'generic'}">Generic</option>
            <option value="admin" th:selected="${userForm.userRank == 'admin'}">Admin</option>
        </select>

        <button type="submit">Register</button>
    </form>
</div>
<footer class="footer">
    <a href="/login" class="btn">Return Home</a>
</footer>
</body>
</html>
