<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{main.css}">
</head>
<body>
<header>
    <h1>Project Dashboard</h1>
</header>
<main>
    <nav>
        <button onclick="location.href='/dashboard/completedProjects'">Completed Projects</button>
        <button onclick="location.href='/dashboard/imminentProjects'">Imminent Projects</button>
        <button onclick="location.href='/dashboard/overdueProjects'">Overdue Projects</button>
        <button onclick="location.href='/dashboard/allProjects'">All Projects</button>
        <button onclick="location.href='/dashboard/budgetOverview'">Budget Overview</button>
    </nav>
</main>
<footer>
    <p>&copy; 2024 Project Dashboard</p>
</footer>
</body>
</html>
