<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<header>
    <h1>Dashboard Status on projects</h1>
</header>
<main>
    <nav>
        <button onclick="location.href='/dashboard/completedProjects'">imminent tasks</button>
        <button onclick="location.href='/dashboard/completedProjects'">overdue tasks</button>
        <button onclick="location.href='/dashboard/completedProjects'">kalender</button>
        <button onclick="location.href='/dashboard/budgetOverview'">Budget</button>
    </nav>
</main>
</body>
</html>
