<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>

<h2>Edit User Information</h2>

<form action="/save" method="post" th:object="${user}">
    <input type="hidden" name="userId" th:value="${user.userId}"/> <!-- Skjult inputfelt til brugerens id -->

    <label for="userName">New username:</label>
    <input type="text" id="userName" name="userName" th:value="${user.getUserName()}" required/>

    <label for="userEmail">New Email:</label>
    <input type="text" id="userEmail" name="userEmail" th:value="${user.getUserEmail()}" required/>

    <label for="password">New Password:</label>
    <input type="password" id="password" name="password" required/>

    <label for="userRank">Kompetencer:</label>
    <select id="userRank" th:field="*{userRank}" required>
        <option value="admin" th:selected="${user.userRank == 'admin'}">Admin</option>
        <option value="projectmanager" th:selected="${user.userRank == 'projectmanager'}">Project Manager</option>
        <option value="frontend" th:selected="${user.userRank == 'frontend'}">Frontend</option>
        <option value="backend" th:selected="${user.userRank == 'backend'}">Backend</option>
    </select>

    <input type="submit" value="Save" class="btn"/>

    <div th:if="${param.error}">
        <p>Error: <span th:text="${flash.errorMessage}"></span></p>
    </div>
    <div th:if="${param.success}">
        <p>Success: <span th:text="${flash.successMessage}"></span></p>
    </div>
</form>

</body>
</html>
