<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users List</title>
</head>
<body>
<div class="container">
    <h1>Users List</h1>
    <a th:href="@{/createUser}" class="btn">Opret bruger</a>
    <a th:href="@{/projectList}" class="btn">Tilbage til projekter</a>
    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Navn</th>
            <th>Email</th>
            <th>Autoritet</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${allUsers}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.userEmail}"></td>
            <td th:text="${user.userRank}"></td>
            <td>
                <a th:href="@{/{userID}/edit(userID=${user.userId})}">Rediger</a>
                <form th:action="@{/{userEmail}/delete(userEmail=${user.userEmail})}" method="post" th:onsubmit="return confirm('Er du sikker på at du vil slette denne bruger?')">
                    <button type="submit">Slet</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
