<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>

<h2>Current User:</h2>
<p th:if="${#ctx.session.isLoggedIn != null}" th:text="'Logged in as ' + ${#ctx.session.userEmail}"></p>
<p th:unless="${#ctx.session.isLoggedIn != null}">No user logged in. Please login or register.</p>

<form action="/login" method="post">
    <label for="userEmail">Email:</label>
    <input type="text" id="userEmail" name="userEmail" required/>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required/>

    <input type="submit" value="Login" class="btn"/>

    <div th:if="${param.error}">
        <p>Invalid Email or password, please try again.</p>
    </div>
</form>

<footer class="footer">
    <div th:if="${#ctx.session.isLoggedIn != null}">
        <a th:href="@{'' + ${#ctx.session.userEmail} + '/delete'}" class="btn">Delete Account</a>
        <a href="/logout" class="btn">Logout</a>
        <a th:href="@{'' + ${#ctx.session.userID} + '/edit'}" class="btn">Edit Account</a>
    </div>
    <div th:unless="${#ctx.session.isLoggedIn != null}">
        <a href="/createUser" class="btn">Register</a>
    </div>
</footer>

</body>
</html>