<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<fieldset>
    <form action="/projectList/updateProject" method="post" th:object="${project}">
        <input type="hidden" name="projectID" th:value="${project.projectID}">

        <div>
            <label for="projectName">Projekt navn</label><br>
            <input id="projectName" th:field="*{projectName}" placeholder="projectName"><br>
        </div>

        <div>
            <label for="projectDescription">Beskrivelse</label><br>
            <input id="projectDescription" th:field="*{projectDescription}" placeholder="project description"><br>
        </div>

        <div>
            <label for="projectStartDate">Projekt start dato</label><br>
            <input id="projectStartDate" type="date" th:field="*{projectStartDate}" min="2024-01-01T00:00"><br>
        </div>

        <div>
            <label for="projectBudget">Projekt budget</label><br>
            <input id="projectBudget" th:field="*{projectBudget}" placeholder="project budget"><br>
        </div>

        <div>
            <label for="projectDueDate">Projekt deadline</label><br>
            <input id="projectDueDate" type="date" th:field="*{projectDueDate}" min="2024-01-01T00:00"><br>
        </div>

        <input type="submit" value="Submit" class="button">

        <a th:href="@{'/projectList'}">
            <input type="button" value="cancel" class="button">
        </a>

    </form>
</fieldset>

</body>
</html>