<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Task</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<fieldset>
    <form action="/project/updateTask" th:object="${taskObject}" method="post">

        <input type="hidden" name="taskID" th:value="${taskID}">
        <input type="hidden" name="projectID" th:value="${projectID}">

        <div>
            <label for="taskName">Name</label><br>
            <input id="taskName" th:field="*{taskName}" placeholder="Task Name"><br>
        </div>

        <div>
            <label for="taskDescription">Description</label><br>
            <input id="taskDescription" th:field="*{taskDescription}" placeholder="Task Description"><br>
        </div>

        <div>
            <label for="taskStartDate">Start Date</label><br>
            <input id="taskStartDate" type="date" th:field="*{taskStartDate}" min="2024-01-01"><br>
        </div>

        <div>
            <label for="taskDueDate">Due Date</label><br>
            <input id="taskDueDate" type="date" th:field="*{taskDueDate}" min="2024-01-01"><br>
        </div>

        <div>
            <label for="taskAcceptCriteria">Acceptance Criteria</label><br>
            <textarea id="taskAcceptCriteria" th:field="*{taskAcceptCriteria}" placeholder="Acceptance Criteria"></textarea><br>
        </div>

        <input type="submit" value="Submit" class="button">

        <a th:href="@{|/{projectID}/tasks|}">
            <input type="button" value="Cancel" class="button">
        </a>

    </form>
</fieldset>

</body>
</html>
