<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AlphaSolutions</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<nav>
    <div class="navbar">
        <a href="#" class="logo">alphasolutions</a>
    </div>
</nav>

<div class="content">
    <h1>list of ongoing projects</h1>
    <p th:text="${welcome}"></p>
    <table class="mainTable">
        <a class="new_project_list_button" th:href="${'/projectList/createProject'}">
            <input type="button" value="create project" class="button">
        </a>
        <thead>
        <tr>
            <th colspan="6">here are your projects</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Name</th>
            <th>Project</th>
            <th>Edit</th>
        </tr>
        <tr th:each="project : ${projectList}">

            <td class="table-header" th:text="${project.projectListName}">
            </td>

            <td class="table-header">
                <a th:href="@{'projectList/' + ${project.projectListID} + '/showProjectList'}">
                    <input type="button" value="Project" class="button">
                </a>
            </td>

            <td>
                <a th:href="@{'projectList/' + ${project.projectListID} + '/updateProjectList'}">
                    <input type="button" value="Edit" class="button">
                </a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
<footer>
    <div class="contact">
        <h2>Contact</h2>
        <p>Write your contacts in here</p>
    </div>
</footer>
</body>
</html>