<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret projekt</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<h3>Opret projekt</h3>
<body>
<fieldset>
    <legend>Opret projekt</legend>
    <form action="/projectList/createProject" th:object="${projectObject}" method="post">

        <input type="hidden" name="userID" th:value="${#ctx.session.userID}">

        <p>
            <label for="projectName">Projekt navn</label>
            <input id="projectName" th:field="*{projectName}" placeholder="projectName">
        </p>

        <p>
            <label for="projectDescription">Beskrivelse</label>
            <input id="projectDescription" th:field="*{projectDescription}" placeholder="project description">
        </p>

        <p>
            <label for="projectStartDate">Projekt start dato</label>
            <input id="projectStartDate" type="date" th:field="*{projectStartDate}" placeholder="project start date">
        </p>

        <p>
            <label for="projectBudget">Projekt budget</label>
            <input id="projectBudget" th:field="*{projectBudget}" placeholder="project budget">
        </p>

        <p>
            <label for="projectDueDate">Projekt deadline</label>
            <input id="projectDueDate" type="date" th:field="*{projectDueDate}" placeholder="project due date">
        </p>

        <input id="projectID" type="hidden" th:field="*{projectID}">

        <button type="submit">Opret projekt</button>
        <a th:href="@{'/projectList'}">
            <input type="button" value="Cancel" class="button">
        </a>
    </form>
</fieldset>
</body>
</html>