<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link th:href="@{/main.css}" rel="stylesheet">

</head>
<body>
<header>

</header>
<main>

    <!-- Imminent Tasks Section -->
    <section>
        <h2>Imminent Tasks</h2>
        <table>
            <thead>
            <tr>
                <th>Task Name</th>
                <th>Due Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${imminentTasksObject}">
                <td th:text="${task.getTaskName()}">Task Name</td>
                <td th:text="${task.getTaskDueDate()}">Task Due Date</td>


            </tr>
            </tbody>
        </table>
    </section>

    <!-- Overdue Tasks Section -->
    <section>
        <h2>Overdue Tasks</h2>
        <table>
            <thead>
            <tr>
                <th>Task Name</th>
                <th>Due Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${overdueTasksObject}">
                <td th:text="${task.getTaskName()}">Task Name</td>
                <td th:text="${task.getTaskDueDate()}">Task Due Date</td>
            </tr>
            </tbody>
        </table>
    </section>

    <!-- All Tasks Section -->
    <section>
        <h2>All Tasks</h2>
        <table>
            <thead>
            <tr>
                <th>Task Name</th>
                <th>Due Date</th>
            </tr>

            </thead>
            <tbody>
            <tr th:each="task : ${allTasksObject}">
                <td>
                    <a th:href="@{|/project/${projectID}/${task.getTaskID()}/taskDetails|}" th:text="${task.taskName}">Task Name</a>
                </td>
                <td th:text="${task.taskDueDate}">Task Due Date</td>

                <td>
                    <a th:href="@{|/project/${projectID}/${task.getTaskID()}/updateTask|}">
                        <input type="button" value="Edit" class="button">
                    </a>
                </td>

                <td>
                    <form th:action="@{|/project/${projectID}/${task.getTaskID()}/deleteTask|}" method="post">
                        <input type="hidden" name="projectID" th:value="${projectID}">
                        <button type="submit" class="button">Delete</button>
                    </form>
                </td>


                <td>
                    <!-- Button to assign user to task -->
                    <a th:href="@{|/project/${projectID}/${task.getTaskID()}/assignUsers|}">
                        <input type="button" value="Assign User" class="button">
                    </a>
                </td>

            </tr>
            </tbody>
        </table>
        <a th:href="@{|/project/${projectID}/${#ctx.session.userID}/createTask|}">
            <input type="button" value="Create Task" class="button">
        </a>


                <!--      <td>
                          <a th:href="@{|/project/${projectID}/${task.getTaskID()}/taskDetails|}">
                              <input type="button" value="Details" class="button">
                          </a>
                      </td> -->

                  </tr>
                  </tbody>
              </table>
              <a th:href="@{|/project/${projectID}/${#ctx.session.userID}/createTask|}">
                  <input type="button" value="Create Task" class="button">
              </a>


          </section>
      </main>
      <footer>
          <p>&copy; 2024 AlphaSolutions</p>
      </footer>
      </body>
      </html>
